$clrPrimary: #86878B;
$clrDark: black;
$clrLight: #ffffff;
$clrSemiDark: #212121FF;
$clrDarkGrey: #86878B;
$clrLightDark: #333333;
$clrBgLightDark: rgba(245, 245, 245, 1);
$clrLightGrey: #CCCCCC;
$clrOrange: #F98837;
$clrLightOrange: #fa9958;

$minWidth: 320px;
$maxWidth: 1920px;
$containerPadding: 142px;

$contentWidth: 1156px; //142
$tabletWidth: 768px;
$mobileWidth: 414px;
