.contact__container {
  position: relative;
  padding: 100px 0 81px;
  @include media-laptop {
    padding: 80px 10px 65px;
  }
  @include media-tablet {
    padding: 60px 0 65px;
  }

  p {
    padding-top: 50px;
    @include media-laptop {
      padding-top: 56px;
    }
  }
  
  h2 {
    @include media-laptop {
      @include pseudo($top: 56px)

    }
  }
}

.layout-2-column {
  justify-content: center;
}

.contact-form {
  padding-top: 50px;
  @include media-laptop {
    padding-top: 30px;
  }
  @include media-tablet {
    padding-top: 15px;
  }

  &__element {
    height: 31px;
  }
  
  input, textarea {
    border-bottom: 1px solid $clrInputsLining;
    width: min(96%, 527px);
    margin: 30px auto 0;
    @include media-laptop {
      width: min(90%, 527px);
    }
    @include media-mobile {
      margin: 25px auto 0;
    }

    &::placeholder {
      padding: 10px 0 9px 13px;
    }
  }
  
  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-mobile {
      flex-basis: 90%;
    }
  }
  
  &__area {
    @include media-mobile {
      flex-basis: 90%;
    }
  }
  
  .contact__line {
    min-height: 156px;
    @include media-mobile {
      min-height: 100px;
    }
  }
  
  button {
    margin-top: 37px;
  }
}

.contact__line {
  width: 100%;
}

.scroll-up {
  background: $clrOrange;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 5%;
  font-size: 16px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  
  &:hover {
    background: $clrLightOrange;
  }
  
  a {
    color: #ffffff;
  }
}