.design {
  background: $clrDark;

 &__title {
   text-align: center;
   position: absolute;
   z-index: 9;
   left:50%;
   transform:translate(-50%, 67px);
   color: $clrLight;
   @include media-tablet {
     left:50vw;
     transform:translate(-50%, 57px);
   }
   @include media-mobile {
     @include pseudo($top: 75px)
   }
 }
  
  &__btn {
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translate(-50%, 215px);
    color: $clrLight;
    @include media-laptop {
      transform: translate(-50%, 205px);
    }
    @include media-tablet {
      transform: translate(-50%, 190px);
    }
  }
}

.design__container {
  position: relative;
  height: 0;
}


.design-bg {
  background: url("../../assets/images/axure_bg_img.png");
  background-size: cover;
  opacity: 0.8;
  min-height: 325px;
  width: 100%;
  color: $clrLight;
  @include media-laptop {
    min-height: 300px;
  }
  @include media-tablet {
    min-height: 275px;
  }
  
  .design-subtitle {
    @extend %font-titles;
    @include font($size: 1.6rem, $height: 1.6rem, $weight: 300);
    padding-top: 163px;
    text-align: center;
    @include media-tablet {
      padding-top: 152px;
    }
  }
}
