.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 8px;
  
}

nav {
  @include media-laptop {
    display: none;
    position: fixed;
    z-index: 99;
    top: 35px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0, 0.9);
    width: 90%;
    user-select: none;
    .nav {
      flex-direction: column;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        background: red;
        width: 100vw;
        height: 100vh;
      }
      a{
        font-size: 24px;
      }
    }
  }
}


.nav {
  display: flex;
  gap: 48px;
}

.header__nav {
  margin-left: auto;
}

.nav__link {
  list-style: none;
  color: $clrLight;
  @include font($size: 1.4rem, $height: inherit, $weight: 400);
  &:hover,
  &:focus {
    color: $clrOrange;
    @extend %transition;
  }
}