.standard__container {
  padding: 77px 0 48px;
  
  @include media-laptop {
    justify-content: center;
  }
  
  @include media-mobile {
    padding: 2px 0;
  }
}

.standard__content {
  padding: 28px 0 0 30px;
  @include media-laptop {
    flex-basis: 85%;
  }
  @include media-tablet {
    flex-basis: 90%;
  }
 h4 {
  @include pseudo($right: inherit) {
    background: $clrOrange;
    width: 64px;
    height: 2px;
    margin: 0px auto -33px;
  }
;
}
  
  p:nth-child(2) {
    padding-top: 60px;
  }
  
  p:nth-child(3) {
    padding: 20px 0;
  }
}