.tabs__content-container {
  @include media-mobile {
    display: flex;
    justify-content: center
  }
}

.tabs__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 145px 0 112px 20px;
  @include media-laptop {
    display: flex;
    justify-content: start;
    padding: 90px 0 100px 20px;
  }
  @include media-tablet {
    flex-direction: column;
    padding: 50px 0 100px 20px;
  }
  @include media-mobile {
    min-height: 42em;
  }
}

.tabs__collapse {
  width: 112px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %font-primary;
  @include font($size: 1.5rem, $height: 1.3rem, $weight: 600);
  border-bottom: 2px solid $clrLight;
  background-color: black;
  color: $clrLight;
  cursor: pointer;
  @include media-laptop {
    width: 95px;
    height: 95px;
  }
  @include media-tablet {
    width: 80px;
    height: 80px;
  }
  
  &:hover {
    @extend %transition;
    background: $clrOrange;
  }
  
  a:focus {
    @extend %transition;
  }
}

.tab > a {
  background: #cdf;
  cursor: pointer;
  display: block;
}

.tab:focus {
  outline: none;
}

.tab > div {
  display: none;
}

.brands__collapse {
  + input {
    display: none;
  }
}

.tab__input {
  display: none;
}

.tab:focus {
  outline: none;
}

.tab__input:checked ~ label {
  background: $clrOrange;
}

.tab__text-content {
  display: none;
}

.tabs__content-container {
  position: relative;
  flex-basis: 61%;
}

.tab__text-content {
  position: absolute;
  width: 476px;
  top: 10px;
  left: 26%;
  @include media-laptop {
    max-width: 73%;
  }
  @include media-tablet {
    height: 603px;
    left: 23%;
  }
  @include media-mobile {
    max-width: 90%;
    left: 50%;
    transform: translate(-50%, 100px);
    display: flex;
  }
  
  padding-right: 10px;
  
  p:nth-child(2) {
    padding-top: 52px;
    @include media-laptop {
      padding-top: 20px;
    }
  }
  
  p:nth-child(3) {
    padding: 20px 0 49px;
    @include media-laptop {
      padding-bottom: 10px;
    }
    @include media-mobile {
      padding-bottom: 20px;
    }
  }
}

.tab {
  display: flex;
}

.tabs__img {
  @include media-tablet {
    display: none;
  }
}

.tab a {
  display: block;
  background: transparent;
  padding: 48px 39px;
  @include media-laptop {
    padding: 40px 30px;
  }
  @include media-tablet {
    padding: 33px 21px;
  }
  color: white;
  
  &:focus {
    color: tomato;
  }
}

.tab > div {
  display: none;
}

.tab > div:target {
  display: block;
}

