.btn {
  @extend %font-primary;
  @include font($size: 1.5rem, $height: 1.3rem, $weight: 600);
  padding: 14px 25px;
  min-width: 135px;
  color: $clrLight;
  cursor: pointer;
   box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
  @extend %transition;
  @include media-mobile {
    min-width: 95%;
    padding: 14px 0;
  }

  &--bordered {
    border: 1px solid $clrLight;
    background-color: rgba(28, 28, 28, 0);
    color: $clrLight;

    &:hover {
      color: $clrSemiDark;
      background: $clrLight;
    }
  }

  &--colored {
    background: $clrOrange;

    &:hover {
      background: $clrLightOrange;
    }
  }

  &--sm {
    min-width: 121px;
    padding: 16px 25px 17px;
    @include media-mobile {
      min-width: 95%;
    }
  }

  &--md {
    padding: 15px 22px 15px 24px;
  }

  &--no-shad {
    box-shadow: none;
  }

  &--form {
    background: $clrOrange;
    padding: 21px 0 20px;
    width: 100%;

    &:hover {
      background: $clrLightOrange;
    }
  }

  &--tabs {
    width: 112px;
    height: 112px;
    background: black;
    padding: 21px 0 20px;

    &:hover,
    &:active {
      background: $clrOrange;
    }
  }
}