.ico {
  cursor: pointer;
  color: $clrFooterIcons;
  
  &--lg {
    font-size: 3.1em;
    
    &:hover {
      color: $clrPrimary;
      @extend %transition;
    }
    
    @include media-laptop {
      font-size: 2.4em;
    }
    
    @include media-tablet {
      font-size: 2.1em;
    }
  }
  
  &--sm {
    font-size: 1.6em;
    color: $clrFooterIcons;
    
    &:hover {
      color: $clrLight;
      @extend %transition;
    }
  }
}