#heder {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header {
  background-color: $clrDark;
}

.header-bg {
  background-image: url("../../assets/images/bg-fone.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -53px;
  background-repeat: no-repeat;
  height: 643px;
  width: 100%;
  opacity: 0.8;
  
  &__nav {
    margin-left: auto;
  }
  
  @include media-tablet {
    height: 603px;
  }
  @include media-mobile {
    height: 553px;
  }
}

.container-pos {
  position: relative;
}

.signup-form {
  position: absolute;
  z-index: 10;
  top: 180px;
  right: 27px;
  background-color: $clrLight;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  width: 360px;
  margin-left: 20px;
  @include media-laptop {
    display: none;
    top: 0px;
  }
  
  h3 {
    @include font($size: 2rem, $height: 3.1rem, $weight: 700);
    padding: 11px 0 15px;
    color: $clrLightDark;
    
    span {
      color: $clrOrange;
    }
  }
}


.signup-form__element {
  width: 285px;
  margin: 35px auto 0;
  @include font($size: 1.4rem, $height: 3.1rem, $weight: 400);
  
  &::placeholder {
    padding: 10px 0 9px 14px;
    color: $clrInputsLining;
  }
  
  &--last {
    margin-bottom: 49px;
  }
}

.form-el {
  border-bottom: 1px solid $clrInputsLining;
  
  &::placeholder {
    color: $clrInputsLining;
  }
  
  &:focus {
    border-bottom: 1px solid $clrOrange;
  }
}

.logo {
  display: inline-block;
  
  &--sm {
    background-image: url("../../assets/svg/logo.svg");
    width: 79px;
    height: 27px;
  }
  
  &--lg {
    background-image: url("../../assets/svg/logo-lg.svg");
    width: 175px;
    height: 60px;
  }
}

.logo--lg {
  @include media-tablet {
    background-image: url("../../assets/svg/logo-tablet.svg");
    width: 148.75px;
    height: 51px;
  }
  @include media-mobile {
    background-image: url("../../assets/svg/logo-mob.svg");
    width: 122.5px;
    height: 42px;
  }
}

.header__content-info {
  position: absolute;
  z-index: 11;
  top: 177px;
  left: 28px;
  @include media-mobile {
    left: 15px;
  }
  
  .header__title {
    top: 23px;
    left: -2px;
    max-width: 516px;
    @include media-tablet {
      max-width: 400px;
    }
  }
  
  .content-info__btn {
    position: absolute;
    top: 352px;
    left: 1px;
    @include media-mobile {
      top: 415px;
      left: 0;
    }
  }
  
  @include media-laptop {
    top: 140px;
  }
  @include media-tablet {
    top: 130px;
  }
  @include media-mobile {
    top: 117px;
  }
}


.header-subtitle {
  @extend %font-titles;
  @include font($size: 1.6rem, $height: 2.3rem, $weight: 300);
  max-width: 461px;
  padding: 352px 0 0 10px;
  color: $clrLight;
  @include media-laptop {
    padding-top: 300px
  }
  @include media-tablet {
    padding-top: 312px
  }
  @include media-mobile {
    padding: 252px 0 0 0;
  }
}





